<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if title != None %}
			<title>Distributed Computing - {{title}}</title>
		{% else %}
			<title>Distributed Computing - Default</title>
		{% endif %}
		<!-- Bootstrap CSS -->
		<link href="/static/libs/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/base.css" type="text/css">
		
		{% block css %} {% endblock %}
		
		{% block navbar_css %} {% endblock %}
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% block navbar %} {% endblock %}

		{% block flashed_messages %} {% endblock %}

		{% block content %} {% endblock %}

		{% block js %} {% endblock %}

		{% block navbar_js %} {% endblock %}
		
		<!-- jQuery -->
		<script src="/static/libs/jquery-2.2.0.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="/static/libs/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	</body>
</html>